body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
.poster1 {
  margin-top: 50%;
  margin-left: 25%;
  width: 50%;
  color: white;
  text-align: center;
}
.poster2 {
  border: 5px solid white;
  width: 100%;
}
